APP_NAME=Flips
APP_DESC="The better LPIS"
APP_ENV=production
APP_KEY=base64:VxDW1qd040WUjgIRimq+VOGjByKXEuAaRfykQjCmycY=
APP_DEBUG=false
APP_URL=https://flips.example.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=username
DB_PASSWORD=password

MAIL_FROM_NAME=Flips
MAIL_FROM_ADDRESS=mail@example.com

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mail.com
MAIL_PORT=25
MAIL_USERNAME=mail@example.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls